@font-face {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
  body {background-color: #fdfdfd;
  }
    nav {
      height: 69px;
      background-color: #004D79;
    }
    .inline-block {
      font-family: 'montserrat', sans-serif;
      font-weight: 400;
      margin: 23px;
      display: inline-block;
      color: white;
      font-size: 20px;
    }

    .img-fluid {
      margin-left: 20px;
    }
   /* .videoLow{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }*/

    .videoLow{
      margin-top: 15px;
      margin-left: 12% ;
      margin-bottom: 15px;
    }
     .video {
       background-color: #004D79;
       margin-left: 20px;
       margin-right: 20px;
  
     }